* {
    background-color: #152b39;
}
h1, h2, h3, h4, a, th {
    color: #f65a5b;
}
h1 {
    text-align: center;
}
#Solution-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
}
a:hover {
    color: white;
}
td, p, li {
    color: white;
}
td {
    text-align: center;
}