*{
    background-color: #152b39;
}
h1, h3, a {
    text-align: center;
}
h3 {
    color: white;
}
a, h1 {
    color: #f65a5b;
}
a:hover{
    color: white;
}
#headshot{
    height: 300px;
    width: 300px;
    display: block;
    margin: 0 auto 30px;
}
#social_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
}
#linkedin, #resume, #github {
    height: 50px;
    width: 50px;
}
